{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container bg-secondary text-center">
    <br/>
    <p>Welcome to the Exam Manager</p>
    <br/>
    <h1 class="p-2 mb-2 bg-info">Login</h1>
    <br/>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="username">E-mail address: </label>
    <br/>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <br/>
    <br/>
    <label for="password">Password: </label>
    <br/>
    <input type="password" id="password" name="_password" />
    <br/>
    <br/>

    <button type="submit">login</button>
    
    <br/>
    <br/>
    <br/>
</form>
</div>
{% endblock %}
