{% extends 'base.html.twig' %}

{% block title %}Submit an exam{% endblock %}

{% block body %}

<div class="container bg-light">
    <br/>
    <h1 class="p-2 mb-2 bg-info text-center">Submit an Exam</h1>
    <br/>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_row(form.file) }}
    {{ form_end(form) }}
</div>
{% endblock %}
