<html>
    <head>
        <meta charset="UTF-8">
        <title>W... What is this..?</title>
    </head>
    <body>
        {# templates/lucky/number.html.twig #}

        <h1>Your lucky number is {{ number }}</h1>
    </body>
</html>
