{% extends 'base.html.twig' %}

{% block title %}command{% endblock %}

{% block body %}

<div class="example-wrapper">

    <h1>Ask for an Exam</h1>

{# templates/default/new.html.twig #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</div>
{% endblock %}
