{% extends 'base.html.twig' %}

{% block title %}Error403{% endblock %}

{% block body %}

<div class="container bg-light text-center">
    <br/>
    <br/>
    <h4 class="text-danger">Access denied</h4>
    <br/>
    <br/>
    <p>You are not allowed to see this page.</p>
    <br/>
    <a href="{{ path('redirect') }}" class="btn btn-info">Go back to HomePage</a>
    <br/>
    <br/>
</div>
{% endblock %}